body {
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
   background-color: #FFFFFF;
   background-image: url(../images/background_header.svg);
   background-repeat: no-repeat;
   background-size: cover;
}

.page {
   font-family: 'Inter', Arial, sans-serif;
   font-size: 16px;
   line-height: 20px;
   min-width: 1100px;
   max-width: 1600px;
   margin: 0 auto;
   
}

.header {
   display: flex;
   flex-direction: column;
   height: 100vh;
   min-height: 720px;
   max-height: 800px;
   position: relative;
   box-sizing: border-box;
}
.header__content {
   display: flex;
   justify-content: space-between;
   margin-left: 80px;
}

.logo {
   width: 105px;
   height: 39px;
}

.span-accent {
   font-family: "Noto Serif";
   font-style: italic;
   font-weight: normal;
   font-size: 58px;
   line-height: 72px;
   color: #2F80ED;
}
.header h1 {
   font-family: "Inter";
   font-style: normal;
   font-weight: 500;
   font-size: 58px;
   line-height: 72px;
   letter-spacing: -1px;
}
.header__image {
   width: 646px;
   height: 568px;
   margin-right: 5px;
   margin-top: 10px;
}
.header__title {
   max-width: 709px;
   margin-top: 183px;
}
.header__description {
   max-width: 683px;
   font-family: "Noto Serif";
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 30px;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 80px 0px 30px;
}

.nav__links {
   font-family: "Inter";
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   display: flex;
   column-gap: 20px;
   list-style-type: none;
   margin: 8px 0 0;
   padding: 0;
}
.logo {
   position: relative;
}
.header__footer {
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
}
.header__hours {
   margin: auto 0 40px 80px;
}
.header__address {
   margin: auto 80px 40px 0;
}
.content {

}

.footer {

}


.recipes {
   background-color: #0a2750;
   background-image: url(../images/background_recipes.svg);
   background-size: cover;
   color: #FFFFFF;
   padding: 100px 0 140px;
}
.recipes__title {
   margin: 0 0 24px 80px;
   max-width: 580px;
   font-family: "Inter";
   font-style: normal;
   font-weight: 500;
   font-size: 44px;
   line-height: 52px;
}
.recipes__subtitle {
   margin: 0 0 80px 80px;
   font-family: "Noto Serif";
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 30px;
}
.recipes__videos {
   display: flex;
   justify-content: center;
   flex-direction: row;
   column-gap: 40px;
}
.recipe__video {
   width: 480px;
   height: 273px;
}
.videos__captions {
   display: flex;
   justify-content: center;
   flex-direction: row;
   column-gap: 400px;
   font-family: "Inter";
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
}

.reservation {

}
